
<h3><i class="fas fa-book-reader"></i> StoryBooks</h3>
<div class="">
    <p class="lead">The bookclub app</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="link__btn link__btn-google">
        <i class="fab fa-google left fa-1x"></i>&nbsp;&nbsp; Log in with Google
        
    </a>
    <a href="/auth/google" class="link__btn link__btn-facebook">
        <i class="fab fa-facebook-f left fa-1x"></i>&nbsp;&nbsp; Log in with Facebook
    </a>
    <a href="/auth/google" class="link__btn link__btn-twitter">
        <i class="fab fa-twitter left fa-1x"></i>&nbsp;&nbsp; Log in with Twitter
    </a>
</div>
